(
    name: Loc(
        en_us: "Foo Project",
        fr_fr: "Projet Foo",
    ),
    tags: [
        "unity",
        "csharp",
        "test",
        "school",
    ],
    short_description: Loc(
        en_us: "A test school project made in Unity.",
        fr_fr: "Un projet d'école de teste fait avec Unity.",
    ),
    images: [
        "test-image-01",
        "test-image-01",
        "test-image-01",
    ],
    description: Loc(
        en_us: "
This project is one of the projects of <b>all time</b>.
It was made in Unity because Unity is one of the game engines.

<iframe
    width=\"846\"
    height=\"476\"
    src=\"https://www.youtube.com/embed/sOzM4ClFG1o\"
    title=\"Tidus Fantasy X OST\"
    frameborder=\"0\"
    allow=\"accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\"
    referrerpolicy=\"strict-origin-when-cross-origin\"
    allowfullscreen
></iframe>
        ",
        fr_fr: "
Ce project est un des projets de <b>tous les temps</b>.
Il est fait sur Unity, car Unity est un des moteurs de jeu.

<iframe
    width=\"846\"
    height=\"476\"
    src=\"https://www.youtube.com/embed/sOzM4ClFG1o\"
    title=\"Tidus Fantasy X OST\"
    frameborder=\"0\"
    allow=\"accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\"
    referrerpolicy=\"strict-origin-when-cross-origin\"
    allowfullscreen
></iframe>
        ",
    ),
)
