(
    name: Loc(
        en_us: "Bar Project",
        fr_fr: "Projet Bar",
    ),
    tags: [
        "godot",
        "gdscript",
        "personal",
    ],
    short_description: Loc(
        en_us: "It's a bar project.",
        fr_fr: "C'est un projet bar.",
    ),
    images: [
        "test-image-01",
        "test-image-01",
        "test-image-01",
        "test-image-01",
    ],
    description: Loc(
        en_us: "
The project is a bar project, and it's different from Foo project.

<br>
<iframe
    src=\"https://www.lexaloffle.com/bbs/widget.php?pid=15133\"
    allowfullscreen
    width=\"621\"
    height=\"513\"
    style=\"border:none; overflow:hidden\"
></iframe>
",
        fr_fr: "
Ce project est un project bar, et il est différent du projet Foo.

<br>
<iframe
    src=\"https://www.lexaloffle.com/bbs/widget.php?pid=15133\"
    allowfullscreen
    width=\"621\"
    height=\"513\"
    style=\"border:none; overflow:hidden\"
></iframe>
",
    ),
    order: 10,
)
