(
    name: Loc(
        en_us: "Bar Project",
        fr_fr: "Projet Bar",
    ),
    tags: [
        "godot",
        "gdscript",
        "personal",
    ],
    short_description: Loc(
        en_us: "It's a bar project.",
        fr_fr: "C'est un projet bar.",
    ),
    description: Loc(
        en_us: "The project is a bar project, and it's different from Foo project.",
        fr_fr: "Ce project est un project bar, et il est différent du projet Foo.",
    ),
)
