* {
    font-family: "Chakra Petch";
    font-size: 16pt;
}

:root {
    display: flex;
    flex-direction: column;

    color: var(--text);
    background-image: repeating-linear-gradient(
        45deg,
        var(--base0) 0% 5%,
        var(--base) 5% 45%,
        var(--base0) 45% 55%,
        var(--base) 55% 95%,
        var(--base0) 95% 100%
    );
    background-size: 10px 10px;
}

body {
    margin: 0px;
}

#navbar ~ * {
    padding: 8px 32px;
}

h1 {
    font-size: 48pt;
    margin: 0px;

    text-shadow:
        2px 2px var(--base),
        6px 6px var(--shadow);
}

h3 {
    font-size: 24pt;
    margin: 0px;

    color: var(--subtext0);
    text-shadow: 2px 2px var(--base);
}

a,
button {
    display: flex;
    padding: 6px 12px;
    align-items: center;
    justify-content: center;
    border: none;

    color: var(--text);
    background-color: color-mix(var(--surface) 60%, transparent);
    text-decoration: none;
    font-weight: 700;

    box-shadow:
        0px 0px var(--base),
        0px 0px var(--shadow);

    transition:
        padding-bottom 100ms,
        color 100ms,
        background-color 100ms,
        box-shadow 100ms,
        transform 25ms linear;
}

a:hover,
button:hover,
*[data-current="true"] {
    color: var(--surface);
    background-color: var(--text);

    box-shadow:
        2px 2px var(--base),
        6px 6px var(--shadow);

    transform: translate(-2px, -2px);
}

.navbar > a:hover,
.navbar > a[data-current="true"] {
    padding-bottom: 20px;
}

a:active,
button:active {
    background-color: var(--text-black);

    transform: translate(-2px, 2px);
}

.navbar {
    display: flex;
    flex-grow: 1;
    align-items: start;
    justify-content: start;
    min-height: 54px;
    padding: 32px 32px;
    column-gap: 8px;

    border-style: double;
    border-width: 0px 0px 6px 0px;

    border-color: var(--text);
    background-color: color-mix(var(--surface) 30%, transparent);
}

.navbar #to-home {
    width: 150px;
}

.navbar-content {
    position: absolute;
}

#lang-selector {
    display: flex;
    width: 2rem;
    height: 1rem;
    padding: 0px;
}

#lang-selector img {
    display: flex;
    flex-grow: 1;
}

#background-banana {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -100;
    width: 384px;
    height: 512px;

    background-color: var(--base);
    mask-mode: luminance;
}

::selection {
    background-color: color-mix(var(--selection) 67%, transparent);
}
