#project-card {
    display: flex;
    flex-direction: row;
    padding: 12px;
    background-color: color-mix(var(--surface) 50%, transparent);
}

#project-card #title {
    display: flex;
    margin: 0px 10px;

    font-size: 20pt;
}

#project-card #text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media screen and (max-width: 800px) {
    #project-card {
        flex-direction: column;
    }
}

#project-card p {
    border-top: 2px dashed var(--text);
    margin: 4px;
    padding: 8px;
}

#project-card-placeholder {
    display: flex;
    background-image: var(--placeholder-background);
    background-repeat: repeat-x;
    background-size: 400px 100%;
    animation: placeholder-anim 1.5s linear infinite;

    min-height: 6rem;
}
